@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.container {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 10px;
}

.logo {
    font-size: 3rem;
    font-family: 'Satisfy';
    color: var(--accentcolor);
}

button {
    margin: 5px;
}