.container {
    width: fit-content;
    background-color: var(--bgcolor);
    padding: 30px;
    margin-top: 10%;
}

.login_form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

input::placeholder {
    color: var(--bgcolor);
}

input {
    background-color: var(--secfontcolor);
    border: none;
}

input:focus {
    border: none;
    outline: 3px solid var(--accentcolor);
}

p {
    text-align: center;
}